/* $Id:common.css 187 2011-12-08 23:39:20Z josephine_065at09 $ */
$color1:#c65399;
$color2:#000;
$color3:#fff;
a {
	color:$color1;
	text-decoration:none;
	&:focus {
    	outline:none;
    }
    &:hover {
    	color:#63003c;
    }
}
img {
	vertical-align: middle;
}
h1 {
	padding:20px 0 15px;
	a {
    	background: url(../img/logo.png) no-repeat top left;
    	text-decoration:none;
    	height:33px;
    	display:block;
    	text-indent:-99999em;
    }
}
h2 {
	color:#0a0a0a;
	font-size:23px;
	padding:10px 0px;
	line-height:25px;
}
div.spot-middle h2{
    padding:10px;
}
h2 span {
	font-weight:bold;
}
h3 {
	font-size:20px;
	padding:5px 10px;
	color:$color2;
	line-height:21px;
	font-weight:bold;
}
h4 {
	color:$color1;
	font-weight:bold;
}
h5 {
	font-size:14px;
	line-height:17px;
	font-weight:bold;
}
.hidden-info, .js .hide, .hide {
	display:none;
}
/* classes */
.throbber {
	background:url(../img/throbber.gif) no-repeat left;
	padding-left:20px;
}
.loading {
	width:20px;
	height:20px;
	text-indent:-99999em;
	padding:0px !important;
	margin:0px !important;
	background:url(../img/loading.gif) no-repeat left top;
	float:left;
	margin: 0 0 0 20px;
}
/* icon style is begin*/
a.unsuspend-icon,a.clear-flag,a.suspend-icon,a.flag,a.pending, a.approve, a.add, a.delete, a.edit, a.csv, a.change-password, a.resend, a.network-ip {
	padding:2px 0 2px 20px;
	margin-right:16px;
}
a.pending {
	background:url("../img/common-sprite.png") no-repeat scroll 0 -370px;
}
a.approve {
	background:url("../img/common-sprite.png") no-repeat scroll 0 4px;
}
a.add {
  background:url("../img/common-sprite.png") no-repeat scroll 5px -488px;
}
a.delete {
  background: url("../img/common-sprite.png") no-repeat -1px -604px;
}
a.view {
	background:url(../img/admin-sprite.png) no-repeat -4px -3575px;
}
a.edit {
	background:url(../img/common-sprite.png) no-repeat 0 -721px;
}
a.csv {
	background:url(../img/common-sprite.png) no-repeat 0 -314px;
}
a.change-password {
	background:url(../img/common-sprite.png) no-repeat 0 -1215px;
}
a.resend {
	background:url(../img/common-sprite.png) no-repeat 0 -1331px;
}
a.online {
	background:url(../img/common-sprite.png) no-repeat 0 -1102px;
}
a.offline {
	background:url(../img/common-sprite.png) no-repeat 0 -986px;
}
a.network-ip {
    background: url("../img/common-sprite.png") no-repeat 1px -3932px;
}
/* sort */
a.asc {
	background:url(../img/common-sprite.png) no-repeat right -1445px;
}
a.desc {
	background:url(../img/common-sprite.png) no-repeat right -1553px;
}
a.asc, a.desc {
	padding-right:10px;
	margin-right: 10px;
}
/** form */
form.normal {
	width:100%;
	padding:5px 0;
    div.input,div.submit {
    	margin:5px;
    	padding:5px;
    }
	div.input label {
    	font-size:13px;
    	font-weight:normal;
    	padding:7px 15px 0 0;
    	position:absolute;
    	text-align:right;
    	width:175px;
    	color:#666;
    }
    div.checkbox label,div.radio label {
    	display:inline;
    	margin:0px 0px 0px 5px;
    	padding-right:10px;
    	position:static;
    }
    div.checkbox label {
    	width:210px;
    	padding:5px 15px 0 0;
    }
    div.required label {
    	background: url("../img/common-sprite.png") no-repeat right -2369px;
    }
    div.select div.checkbox label {
    	background:none;
    }
    div.select select,div.text input,div.textarea textarea,div.password input {
    	border:1px solid #D6D6D6;
    	font-size:12px;
    	margin:0 5px 0 200px;
    	padding:9px 5px;
    	width:280px;
    	font-family:arial;
    	vertical-align:middle;
        background:$color3 url("../img/input-bg.png") repeat-x left bottom;
    }
    div.select select {
    	height: 35px;
        padding: 5px 0;
        width: 293px;
    }
    div.multiple-select select {
    	height:auto;
    }
    div.input textarea {
    	height:125px;
    }
    div.big-textarea textarea{
        width:550px;
    }
    div.checkbox input,div.radio input {
    	width:16px;
    }
    div.checkbox input,div.date label+select,div.file input {
    	margin:0px 0px 0px 200px;
    }
    div.error-message{
         background: url("../img/common-sprite.png") no-repeat scroll 0 -4252px transparent;
        color:#C65399;
        margin: 6px 0 0 200px;
        padding: 0 0 0 20px;
        font-size:11px;
    }
    div.radio input,table.list div.checkbox input {
    	margin:0;
    }
    div.submit {
    	background:url(../img/common-sprite.png) no-repeat 0 -3001px;
    	padding:0 0 0 3px;
    	float:left;
    	margin:0;
    	&:hover{
        	background:url(../img/common-sprite.png) no-repeat 0 -3038px;
        	input{
            background:url(../img/common-sprite.png) no-repeat right -3212px;
            }
        }
    }
    div.submit input {
    	background: url("../img/common-sprite.png") no-repeat right -3175px;
    	border: medium none;
    	color: $color3;
    	cursor: pointer;
    	font-weight: 700;
    	height: 37px;
    	padding: 0 11px 3px 7px;
    }
    div.select select:hover,div.text input:hover,div.textarea textarea:hover,div.password input:hover, div.select select:active,div.text input:focus,div.password input:focus,div.select select:focus, div.text input:active, div.textarea textarea:active, div.password input:active {
    	border:1px solid #bababa;
	    background:#fff url("../img/input-bg-hover.png") repeat-x left top;
    }
    div.error input,  div.error textarea, div.error select {
        border:1px solid #EDB7D8;
    }
    div.input input.bg-openid-input {
    	background: url("../img/common-sprite.png") no-repeat scroll 3px -3326px $color3;
    	padding: 4px 0 5px 25px;
    	width: 250px;
    }
    div.input input.bg-openid-input:active,div.input input.bg-openid-input:focus {
    	background:url(../img/common-sprite.png) no-repeat 0 -3331px $color3;
    }
}
span.openid-icon {
	background:url(../img/common-sprite.png) no-repeat 0 -3331px;
	display:inline-block;
	height:16px;
	width:16px;
	font-size:0px;
	text-indent:-3000em;
	vertical-align:middle;
}
.from-left, .or {
	margin:0 0 0 210px;
	padding:5px 0;
}
.forgot-info, .info-details {
	background:url("../img/icon-info-details.png") no-repeat 10px center #FDF3F9;
	border:1px dashed #CCCCCC;
	margin:6px 10px;
	padding:15px 15px 15px 50px;
}
.info-details1 {
    margin: 5px 0 6px 2px;
    width: 520px;
}
.forgot-info:hover, .info-details:hover {
	background:url("../img/icon-info-details.png") no-repeat 10px center #FCFCFC;
}
div.submit-block {
	margin: 5px 0 5px 210px;
}
.form-block h3 {
  border-bottom: 1px solid #DDD;
  color: #454545;
  font-size: 1.3em;
  font-weight: 400;
  margin: 0 10px 9px;
  padding: 6px 0;
}
/* Paging */
div.admin-content div.paging {
	padding:15px 0;
}
div.paging {
	padding:10px 0;
	text-align:center;
	a, span {
    	color:#2e6ab1;
    	text-decoration:none;
    }
    a, span.prev,span.next,span.current {
    	color: $color2;
    	font-size: 14px;
    	margin: 2px;
    	padding: 4px 9px;
    	text-align: center;
    	background:#DEDFDF;
    }
    a.prev {
    	background:url(../img/common-sprite.png) no-repeat 14px -2145px #CE3B95;
    	color:$color3;
    	padding:4px 9px 4px 27px;
    }
    span a.next {
    	background: url("../img/common-sprite.png") no-repeat 43px -1990px #CE3B95;
    	color: $color3;
    	padding: 4px 22px 4px 9px;
    }
    span.prev{
        background: url("../img/common-sprite.png") no-repeat scroll 14px -2097px transparent;
        padding: 4px 9px 4px 27px;
    }
    span.next{
        background: url("../img/common-sprite.png") no-repeat scroll 43px -1950px transparent;
        padding: 4px 22px 4px 9px;
    }
    span a.next:hover {
    	background: url("../img/common-sprite.png") no-repeat 43px -1990px $color2;
    }
    span a.prev:hover {
    	background:url(../img/common-sprite.png) no-repeat 14px -2145px $color2;
    }
    a.prev:hover {
    	background: $color2;
    }
    span.skip {
    	border:none;
    }
    span.current,a:hover {
    	background:$color2;
    	color:$color3;
    }
    span.prev,span.next{
        display:none;
    }
}
/* http://www.maxdesign.com.au/presentation/definition/dl-table-display.htm */
dl.list {
	font-size:11px;
	dt {
    	clear:both;
    	float:left;
    	font-weight:700;
    	margin:3px 0;
    	width:46%;
    }
    dd {
    	float:left;
    	margin:3px 0px;
    	width: 52%;
    }
}
/* Flash */
.flash-message-block {
	position:relative;
	height:50px;
}
.message {
	font-family:arial;
	font-size:12px;
	width:100%;
	height:22px;
	top:0;
	left:0;
	overflow:hidden;
	position:fixed;
	cursor:pointer;
	z-index:999999;
}
#errorMessage {
	background:#ffebf3;
	border:1px solid #f06;
}
#successMessage, .success {
	background:#eff;
	border:1px solid #6f0;
}
#flashMessage {
	background:#ffe;
	border:1px solid #f60;
}
#errorMessage, #authMessage {
	background:url(../img/common-sprite.png) no-repeat 0 -838px #ffebf3;
	padding:13px 0 14px 63px;
}
#successMessage {
	background:url(../img/common-sprite.png) no-repeat 0 -1664px #eff;
	padding:13px 0 14px 63px;
}
#flashMessage {
	background:url(../img/common-sprite.png) no-repeat 0 -1812px #ffe;
	padding:13px 0 14px 63px;
}
.notice, table.list td.notice {
	padding: 5px 5px 5px 20px;
	color:#FD0091;
	background:$color3 url(../img/common-sprite.png) no-repeat 0 -3446px;
	border-top:1px solid #fde1e1;
    border-bottom:1px solid #fde1e1;
}
table.list td.notice {
	text-align:left;
}
.success-msg{
	border-top:1px solid #6f0;
	border-bottom:1px solid #6f0;
	padding:10px;
	background:#eff;
	color:#666;
	font-size:13px;
}
/** icon links styles */
span.info, span.help {
	padding:4px 0 2px 20px;
	margin:0 10px 0 200px;
}
span.info, span.help {
    display:block;
	font-size:11px;
	background:url("../img/info-msg.png") no-repeat left 5px;
}
#colorbox span.info,#colorbox span.help{
    color: #666666;
     margin: 0 10px 0 203px;
}
#colorbox form.normal div.input {
    margin: 3px 5px;
    padding: 2px 5px;
}
/* place add form style is begin (colorbox) */
div.map-address-left-block{
    margin:0px 0px 0px 209px;
    width:558px;
    border:1px solid #d6d6d6;
    padding:5px;
}
div.colorbox-map-info-block #js-map-container{
    height: 100px;
    width: 177px;
}
div.colorbox-left-block{
    width:357px;
}
form.normal div.colorbox-right-block{
    margin: 0 0 0 0;
    width: 190px;
}
div.colorbox-right-block h3{
    font-size:14px;
}
form.normal div.colorbox-left-block div.select select,form.normal div.colorbox-left-block div.text input,form.normal div.colorbox-left-block div.textarea textarea,form.normal div.colorbox-left-block div.password input {
	margin:0 5px 0 150px;
}
form.normal div.colorbox-left-block div.input label {
	width:120px;
}
form.normal div.colorbox-left-block div.input{
    padding:5px 0px;
    margin:5px 0px;
}
form.normal div.colorbox-left-block div.input label{
    width:53px;
}
form.normal div.colorbox-left-block div.select select,form.normal div.colorbox-left-block div.text input,form.normal div.colorbox-left-block div.textarea textarea,form.normal div.colorbox-left-block div.password input{
	margin:0 5px 0 75px;
	width: 250px;
}
/* JavaScript */
.overlabel-wrapper{
	position:relative;
}
label.overlabel-apply {
	position:absolute;
	bottom:5px;
	left:10px;
	z-index:1;
	color: #999;
}
/*rounded corner hacks */
.round-3 {
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
.round-5 {
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.round-10 {
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-o-border-radius:10px;
	border-radius: 10px;
}
/* Common footer style is begin */
p.copy {
	color:$color3;
	background:#CE3B95;
	padding:14px 0;
	text-align:center;
	font-size:11px;
	a {
    	color:$color3;
    	font-weight:bold;
    	&:hover{
            color:#48012d;
        }
    }
}
#agriya {
	color: $color3;
	padding: 8px 0 0;
	p {
    	float:left;
    }
}
a.cssilize {
    background: url("../img/cssilize.png") no-repeat left top;
    display: block;
    height: 18px;
    margin:5px auto;
    text-indent: -9999em;
    width: 118px;
}
a.powered,a.company{
	float:left;
	height:15px;
	text-indent:-9999em;
	width:80px;
}
a.powered {
	background:url(../img/powered-by-justspotted.png) no-repeat left top;
	span {
    	float:left;
    	margin: 0 2px;
    }
}
a.company {
	background:url(../img/powered-by-agriya.png) no-repeat left top;
}
/* http://www.visakopu.net/misc/table-border-css/ */
table.list, table.list td, table.list th {
	border:1px solid #d5d5d5;
}
table.list {
	border-spacing:0;
	border-collapse:collapse;
	border:5px solid #f2f2f2;
	background:$color3;
	width:100%;
	margin:0px;
	td, th {
    	padding:4px;
    	vertical-align:middle;
    	text-align:center;
    	font-size:11px;
    }
    th {
    	color:#545454;
    	font-weight:bold;
    	padding:12px 10px;
    	background:url(../img/table-bg.png) repeat-x left bottom #e9e9e9;
    	a {
        	color:#545454;
        	&:hover{
                text-decoration:underline;
            }
        }
    }
    td.actions,th.actions {
    	width:52px;
    }
    td.select, th.select {
    	width: 23px;
    }
}
table.list tr{
    &.altrow td {
    	background-color:#fefefe;
    }
    &:hover td {
    	background-color:#fafafa;
    }
    th.dl, td.dl {
    	text-align:left;
    }
    th.dc, td.dc {
    	text-align:center;
    }
    th.dr,td.dr {
    	text-align:right;
    }
}
div.ui-tabs table.list {
	width:100%;
}
/* CakePHP */
.cake-sql-log {
	font-family:"Courier New";
	font-size:80%;
	td,th {
    	padding:4px 8px;
    	text-align:left;
    	border:1px solid #eee;
    }
}
pre.cake-debug {
	background:#ffcc00;
	font-size:120%;
	line-height:140%;
	margin-top:1em;
	overflow:auto;
	position:relative;
}
div.cake-stack-trace {
	background:$color3;
	border:4px dotted #ffcc00;
	color:#333;
	margin:0px;
	padding:6px;
	font-size:120%;
	line-height:140%;
	overflow:auto;
	position:relative;
}
div.cake-code-dump pre {
	position:relative;
	overflow:auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color:$color2;
	background-color:#F0F0F0;
	margin:0px;
	padding:1em;
	overflow:auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear:both;
	font-size:12px;
	line-height:15px;
	margin:4px 2px;
	padding:4px;
	overflow:auto;
}
div.cake-code-dump span.code-highlight {
	background-color:#fffF00;
	padding: 4px;
}
/* CakePHP */
ol.rates-list {
    background:url("../img/border-bg.png") repeat-x 0 bottom;
    padding: 0 0 7px;
    li {
        float: left;
        padding: 2px 9px 2px 0;
    }
}
div.side2 .sighting-rating-block h3, .sighting-rating-block1 h4 {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding:3px 0 0;
}
div.side2 .sighting-rating-block h3.rating-title{
    font-weight:normal;
}
.sighting-rating-block1 h4{
    padding:3px 0 4px 0;
}
.browse-block {
   padding: 5px 0 0;
}
/* action link style is begin */
div.action-inner-block {
	display:none;
}
span.action-information-block {
	display:block;
	height:47px;
	width:52px;
	padding:0px 0px 0px 0px;
}
div.action-block{
    span.action-center-block {
    	padding:5px 0px 10px 0px;
    	display:block;
    }
    &:hover span.action-center-block {
    	position:relative;
    	z-index:10000;
    }
    span.action-left-block {
    	height:9px;
    	display:block;
    }
    &:hover span.action-left-block {
    	background:url(../img/admin-sprite.png) no-repeat 0 -499px;
    }
    &:hover span.action-center-block {
    	background:transparent url(../img/admin-action-center.png) repeat-y left top;
    }
}
span.action-info {
	display:block;
	width:22px;
	height:24px;
	text-indent:-9999em;
	background:url(../img/admin-sprite.png) no-repeat 0 -608px;
	margin:0px auto;
	z-index:10000;
}
div.action-block div.action-inner-block {
	display:none;
	position:absolute;
	width:300px;
	z-index:1000;
	background:url(../img/bg-menu.png) repeat right top;
	&:hover div.action-inner-block {
    	display:block;
    }
}
div.action-block{
    div.action-inner-left-block {
    	background:transparent url(../img/admin-action-c1.png) repeat-y left top;
    	padding:0px 0px 10px 0px;
    }
    &:hover div.action-bot-left {
    	background:url(../img/rounded-corner-sprite.png) no-repeat 0 -3502px;
    }
    &:hover div.action-bot-right {
        background: url("../img/rounded-corner-sprite.png") no-repeat right -3528px;
    }
    &:hover div.action-bot-mid {
        background: url("../img/rounded-corner-sprite.png") repeat-x 0 -3515px;
        height: 7px;
        margin: 0 10px 0 6px;
    }
    &:hover ul.action-link {
    	border-top:1px solid #e668bd;
    	padding:10px 0px 0px 0px;
    	margin:0px 6px 0px 0px;
    }

}

ul.action-link{
     li {
    	float:left;
    	width:133px;
    	text-align:left;
    	padding:4px 4px 4px 9px;
    	min-height:21px;
    }
    a {
    	display:block;
    	padding:3px 0px 3px 18px;
    	border:1px solid $color3;
    	&:hover{
        	color:$color2;
        	border:1px solid #fcd1e8;
        }
    }

}
ul.action-link1 a {
    padding: 5px 0 5px 18px;
}
div#colorbox .notice{
    margin:10px;
    padding:10px 10px 10px 25px;
}
a.flag,a.clear-flag {
	background:url(../img/admin-sprite.png) no-repeat left -7193px;
}
a.suspend-icon,a.unsuspend-icon{
	background:url(../img/admin-sprite.png) no-repeat left -7510px;
}
div.grid_left{
    float:left;
}
div.grid_right{
    float:right;
}
ol.spot-list address.address-block a {
    color:#545454;
    &:hover{
        text-decoration:underline;
    }
}
/* overright-reset-styles */
#static-content{
    div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
    em,font,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl, dt,dd,ol,ul,li,fieldset, form,
    label,legend,table,caption, tbody, tfoot,thead,tr,th,td {
    	margin:inherit;
    	padding:inherit;
    	border:inherit;
    	outline:inherit;
    	font-size:inherit;
    	vertical-align:inherit;
    	background:inherit;
    	line-height:inherit;
    	color:$color2;
    }
    span,strong {
    	padding:5px 0;
    	margin:5px 0;
    }
    li,p {
    	margin:2px 0;
    	padding:2px 0;
    	line-height:18px;
    }
    li {
	display:list-item;
    }
    p {
    	display:block;
    	unicode-bidi:embed;
    }
    h1 {
    	font-size:2em;
    	margin:.67em 0
    }
    h2 {
    	font-size:1.5em;
    	padding:0.5em 0;
    }
    h3 {
    	font-size:1.17em;
    	margin:.83em 0
    }
    ul {
    	list-style:inherit;
    	list-style-position:inside;
    }
    ol {
    	list-style:decimal;
    	list-style-position:inside;
    }
    blockquote, q {
    	quotes:inherit;
    }
    blockquote:before, blockquote:after, q:before, q:after {
    	content:'';
    	content: inherit;
    }
    /* remember to highlight inserts somehow! */
    ins {
    	text-decoration:inherit;
    }
    del {
    	text-decoration: inherit;
    }
    /* tables still need 'cellspacing="0"' in the markup */
    table {
    	border-collapse:inherit;
    	border-spacing: inherit;
    }
}
div.bt-wrapper{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:18px;
}
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
	clear:both;
	content:'.';
	display:block;
	visibility:hidden;
	height:0;
}
.clearfix {
	display:inline-block;
	display:block;
}
* html .clearfix {
	height:1%;
}
*+html .clearfix {
	display: inline-block;
}








